@font-face{
    font-family:myfont;
    src: url("./Font/iranyekan/Farsi_numerals/IRANYekanMediumFaNum.ttf");}
body{
    font-family: myfont !important;
}
.card-body{
    margin-bottom: 30px;
    flex-direction: column;
    height: auto;
    width:100%;display: flex;
}
.card{
    width:100%;
     height:auto; 
     border-radius: 7px;
     margin: 3px 3px 3px 3px;
     padding: 9px 10px 6px 10px;
}
.container-label{
    background-color: #288c8a;
    border: none;
    border-radius: 5px 5px 0px 0px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 5px 12px 24px 0px;
    height: 20px;
    margin-top: 30px;
}
.container-input{
    border-radius: 0px 0px 5px 5px;
    border: 1px solid rgb(200, 200, 200);
    padding: 5px;
    background-color: white;
    width:100%;
    height: 27px;
    outline: none;
    direction: rtl;
}
.edit-container{
    height: 27px;
    width: 100%;
    background-color: #116170;
    border-radius: 50px;
    padding: 19px 10px !important;
    color: #ffffff;
    align-items: center;
    margin-top: 50px !important;
    margin-bottom: 12px;
    display: flex;
    justify-content: right;
    margin-left: 4px;
    font-size: 17px;
}
.edit-container label{
    margin-right: 5px;
}
::placeholder{
text-align: right;
color: rgb(200, 200, 200);
font-size: 13px;
}
.dropdown-menu-option{
    background-color: white;
    text-align: right;
}
.fstselected{
    text-align: right;
    color: gray !important;
}
.fstdropdown{
    box-shadow: inset 0px 0px 4px rgb(200, 200, 200);
    color: gray;
    text-align: right;
}
.button-save{
    color: #ffffff;
    border: none;
    background-color: #00e18b;
    box-shadow: 3px 4px 5px rgb(200, 200, 200);
    border-radius: 50px;
    padding: 6px;
    width: 80px;
    height: 35px;
    margin:30px 20px 20px 20px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.container-button-save{
    display: flex;
    justify-content: center;
}
.input-boxshadow{
    box-shadow: inset 0px 0px 4px rgb(220, 220, 220);
}
.h4-style{
    font-size: 13px !important;
    direction: rtl;
    margin: -20px -28px 5px -28px !important;
    border-bottom: 3px solid #116170 !important;
    padding: 2px 15px 5px;
    font-weight:bold !important;
}
